demo-flow.json
[{"id":"9cf8e620.6dbd2","type":"uibuilder","z":"a56e483a.007168","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":319,"y":447,"wires":[["1e6884cd.d98953"],["32bf02ad.bf5fb6"]]},{"id":"2bbdaec9.0f122a","type":"inject","z":"a56e483a.007168","name":"","topic":"test/vue","payload":"{\"payload\":\"test for i18n\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":144,"y":447,"wires":[["9cf8e620.6dbd2"]]},{"id":"1e6884cd.d98953","type":"debug","z":"a56e483a.007168","name":"message from frontend","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":409,"wires":[]},{"id":"32bf02ad.bf5fb6","type":"debug","z":"a56e483a.007168","name":"Control messages from frontend","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":568,"y":478,"wires":[]}]
